html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    /* background:
        linear-gradient(
            to bottom right,
            #39ebd1 10%,
            #02a1fd
        ); */
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 13fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
        "header  header  header"
        "left    pokemon right"
        "footer  footer  footer";
    
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: header;
    font-size: 35px;
    font-weight: 900;
}

.pokemon-team-container {
    /* background-color: rgb(255, 0, 0); */

    grid-area: pokemon;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;

    border-radius: 20px;
    /* box-shadow: 2px 2px 15px rgba(80, 80, 80, 0.5); */
}

.pokemon-card {
    /* background-color: rgba(68, 255, 239, 0.651); */
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(90, 90, 90, 0.4);
}

.info-data {
    background-color: rgba(255, 0, 0, 0.5);
    float: left;
    width: calc(60% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "type  container container"
        "type  container container"
        "image container container"
        "image container container";
    
    /* flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
}

.info-drop-container {
    grid-area: container;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.type {
    grid-area: type;
}

.image {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

img.image {
    display: none;
}

img.image[src] {
   display: block;
}

select.js-example-basic-single {
    width: 100% !important;
    border: none;
    outline: none !important;
}

span.select2-selection.select2-selection--single {
    border: none;
    outline: none !important;
}

span.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: rgba(255, 89, 89, 0.5);
    outline: none !important;

    text-align: center;
    color: black;
    padding: 0;
    border-radius: 4px;
}

span.select2-container--default .select2-selection--single .select2-selection__rendered:active {
    background-color: rgba(255, 89, 89, 0.7);
}

.select2-selection__arrow {
    display: none;
}

td span.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: rgb(255, 255, 255);
    padding-left: 7px;
    text-align: left;
}

td span.select2-container--default .select2-selection--single .select2-selection__rendered:active {
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: inset 0px 0px 4px rgba(193, 193, 193, 0.5);
    -moz-box-shadow: inset 0px 0px 4px rgba(193, 193, 193, 0.5);
         box-shadow: inset 0px 0px 4px rgba(193, 193, 193, 0.5);
}

.type {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.move-table {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 40%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.move-table tr td {
    padding: 4px;
}

.button-container {
    grid-area: footer;
    align-self: center;
    justify-self: center;
}


button {
    background-color: rgba(174, 255, 251, 0.6);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    margin: 5px;

    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(152, 255, 250, 0.6);
}

button:active {
    background-color: rgba(105, 253, 246, 0.7);
    -webkit-box-shadow: inset 0px 0px 4px rgba(193, 193, 193, 0.5);
       -moz-box-shadow: inset 0px 0px 4px rgba(193, 193, 193, 0.5);
            box-shadow: inset 0px 0px 4px rgba(193, 193, 193, 0.5);
}

/* 980px */
@media only screen and (max-width: 980px) {
    .pokemon-team-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0;
    }
}