html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background:
        linear-gradient(
            to bottom right,
            #39ebd1 10%,
            #02a1fd
        );

    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: 
        "header  header  header"
        "left    pokemon right"
        "footer  footer  footer";

}

.header {
    grid-area: header;
    text-align: center;
}

.pokemon-team-container {
    background-color: rgba(0, 255, 234, 0.6);

    grid-area: pokemon;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(80, 80, 80, 0.5);
}

.pokemon-card {
    background-color: rgba(68, 255, 239, 0.651);
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(90, 90, 90, 0.4);
}

.info-data {
    background-color: #00aeb5;
    float: left;
    width: 60%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.move-list {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 40%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.move-list tr td {
    padding: 4px;
}

.button-container {
    grid-area: footer;
    align-self: center;
    justify-self: center;
}

button {
    background-color: rgba(189, 255, 252, 0.6);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    margin: 5px;
}
