html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background:
        linear-gradient(
            to bottom right,
            #39ebd1 10%,
            #02a1fd
        );

    display: grid;
    grid-template-columns: 1fr 13fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
        "header  header  header"
        "left    pokemon right"
        "footer  footer  footer";

}

.header {
    grid-area: header;
    text-align: center;
    margin: auto 0;
}

.pokemon-team-container {
    background-color: rgba(0, 255, 234, 0.6);

    grid-area: pokemon;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(80, 80, 80, 0.5);
}

.pokemon-card {
    background-color: rgba(68, 255, 239, 0.651);
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(90, 90, 90, 0.4);
}

.info-data {
    background-color: #00aeb5;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.name {
    margin: 5px;
    padding: 0;
    font-size: 20px;
}

.type {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

img {
    margin: 15px;
    width: 90%;
    height: 200px;
}

.move-list {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.move-list tr td {
    padding: 4px;
}

.button-container {
    grid-area: footer;
    align-self: center;
    justify-self: center;
}

button {
    background-color: rgba(189, 255, 252, 0.6);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    margin: 5px;
}
